<h3>Ternary</h3>
<p>{{nullValue ? 'nullValue' : 'nullValue detected'}}</p>
<p>{{undefinedValue ? 'undefinedValue' : 'undefinedValue detected'}}</p>
<p>{{zeroValue ? 'zeroValue' : 'zeroValue detected'}}</p>
<p>{{emptyStrValue ? 'emptyStrValue' : 'emptyStrValue detected'}}</p>
<h3>Nullish Coalescing</h3>
<p>{{nullValue ?? 'nullValue detected'}}</p>
<p>{{undefinedValue ?? 'undefinedValue detected'}}</p>
<p>{{zeroValue ?? 'zeroValue detected'}}</p>
<p>{{emptyStrValue ?? 'emptyStrValue detected'}}</p>
<h3>OR</h3>
<p>{{nullValue || 'nullValue detected'}}</p>
<p>{{undefinedValue || 'undefinedValue detected'}}</p>
<p>{{zeroValue || 'zeroValue detected'}}</p>
<p>{{emptyStrValue || 'emptyStrValue detected'}}</p>
<h3>AND</h3>
<p>{{nullValue &&'nullValue detected'}}</p>
<p>{{undefinedValue &&'undefinedValue detected'}}</p>
<p>{{zeroValue && 'zeroValue detected'}}</p>
<p>{{emptyStrValue && 'emptyStrValue detected'}}</p>
