<p>I am colored with component styles</p>
<table>
  <thead>
    <tr>
      <th>VALUES:</th>
      <th>null</th>
      <th>undefined</th>
      <th>0</th>
      <th>empty string</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Ternary</th>
      <td>
        {{null ? 'truthy' : 'falsy'}}
      </td>
      <td>
        {{undefined ? 'truthy' : 'falsy'}}
      </td>
      <td>
        {{0 ? 'truthy' : 'falsy'}}
      </td>
      <td>
        {{'' ? 'truthy' : 'falsy'}}
      </td>
    </tr>
    <tr>
      <th>Nullish Coalescing (??)</th>
      <td>
        {{null ?? 'falsy'}}
      </td>
      <td>
        {{undefined ?? 'falsy'}}
      </td>
      <td>
        {{0 ?? 'falsy'}}
      </td>
      <td>
        {{'' ?? 'falsy'}}
      </td>
    </tr>
    <tr>
      <th>OR (||)</th>
      <td>
        {{null || 'falsy'}}
      </td>
      <td>
        {{undefined || 'falsy'}}
      </td>
      <td>
        {{0 || 'falsy'}}
      </td>
      <td>
        {{'' || 'falsy'}}
      </td>
    </tr><tr>
      <th>AND (&&)</th>
      <td>
        {{null && 'falsy'}}
      </td>
      <td>
        {{undefined && 'falsy'}}
      </td>
      <td>
        {{0 && 'falsy'}}
      </td>
      <td>
        {{'' && 'falsy'}}
      </td>
    </tr>
  </tbody>
</table>
